.navigationContainer {
  flex: 3;
  background-color: var(--empty-box-color);
}

.navigationHeader {
  width: calc(100% - 30px);
  background-color: var(--light-primary);
  color: var(--light-text);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 4px 4px 0 0;
}

.collapseButton {
  background-color: transparent;
  color: var(--light-text);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navigationBody {
  padding: 20px;
  display: grid;
  width: calc(100% - 40px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 10px;
}


.questionNavigation {
  display: flex;
  margin-left: 15px;
  margin-top: 20px;
}

.questinNumberDisplay {
  width: 15px;
  text-align: right;
}


.submitButtonContainer {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  background-color: var(--light-primary);
  color: var(--light-text);
}

.submitButton:hover {
  background-color: var(--primary);
  color: var(--light-text);
}

.markForAnswers {
  margin-top: 20px;
  padding: 40px;
}

.answerStateContainer {
  display: flex;
  align-items:flex-start;
  margin: 20px 0;
}

.answerState {
  content: "";
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  box-shadow: 0px 0px 1px var(--dark-shadow);
  cursor: pointer;
}

.answerStateLabel {
  margin-left: 20px;
  margin-top: -3px;
  font-size: 1.2rem;
}

.questionAnswered {
  background-color: var(--answer-box-color);
}

.markedForReview {
  background-color: var(--marked-box-color);
}

.leaveQuestion {
  background-color: var(--left-box-color)
}

.yetToAnswer {
  background-color: var(--empty-box);
}