.totalExams {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--light-gray-text);
}

.examCards {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card {
  background-color: var(--empty-box-color);
  padding: 20px;
  width: 300px;
  height: 180px;
  border-radius: 6px;
  color: var(--dark-gray-text);
  margin: 20px 15px;
}

.cardDivider {
  margin: 20px 0;
  border:1px solid var(--light-border);
}

.cardRow {
  margin: 5px 0;
  color: var(--light-gray-text);
}

.examStartButton {
  margin: 30px;
  margin-right: 10px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}