.headerContainer {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: teal;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  z-index: 10000;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.headerItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-size: 1.3rem;
}

.username {
  font-size: 1.3rem;
}

.loginButton {
  background-color: transparent;
  border: none;
  color: var(--light-text);
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
  transition: font-weight margin-right 1s;
}

.loginButton:hover {
  font-weight: 600;
  margin-right: -4px;
}