.headerContainer {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: teal;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  z-index: 10000;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.headerItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-size: 1.3rem;
}

.username {
  font-size: 1.3rem;
}