.App {
  display: flex;
  flex-direction: column;
}

.pageBodyContainer {
  background-color: #eee;
  min-height: calc(100vh - 150px);
  margin-left: var(--sidebar-margin);
  padding: 40px;
}

.pageTitle {
  font-size: 1.5rem;
}